<div class="col-2">
    <div class="card">
        <div class="card-header">
            <h1 class="h3">Select Function</h1>
        </div>
        <div class="card-body pt-0">
            <a class="btn btn-primary w-100 mb-2" href="/stkmove_new/STKMOVE" role="button">STKMOVE</a>
            <a class="btn btn-primary w-100 mb-2" href="/eqmove/EQMOVE" role="button">EQMOVE</a>
            <a class="btn btn-primary w-100 mb-2" href="/emptycarrmove/EMPTYCARRMOVE" role="button">EMPTYCARRMOVE</a>
            <a class="btn btn-primary w-100 mb-2" href="/changecmd/CHANGECMD" role="button">CHANGECMD</a>
            <a class="btn btn-primary w-100 mb-2" href="/moverequest/MOVEREQUEST" role="button">MOVEREQUEST</a>
            <a class="btn btn-primary w-100 mb-2" href="/invdata/INVDATA" role="button">INVDATA</a>
            <a class="btn btn-primary w-100 mb-2" href="/movestatusrequest/MOVESTATUSREQUEST"
                role="button">MOVESTATUSREQUEST</a>
        </div>
    </div>
</div>