.bg-gray-200 {
  background-color: #f5f7fb !important;
}

.text-black-700 {
  color: #222e3c !important;
}

.page-list {
  display: none !important;
}

.float-left{
  float: left !important;
}

.float-right{
  float: right !important;
}